<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
<link rel="stylesheet" href="/styles/styles.css">
<!-- <link rel="stylesheet" href="/styles/styles.css"> -->

</head>
<!-- <style>
  body {
    background-color: #eccdf7;
  }
</style> -->
<body>

<h1>Hello! Welcome to choose your own adventure game: UNA</h1>
<!-- <div class="row">
  <div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <p>Enter your name and click ready when done to start your story!</p>
    <div class="card-body">
      <div class="input-group mb-3 input-group-sm">
        <input type="text" class="form-control">
      </div> -->

      <form method="POST" action="/addName">
        <label for="name">Enter your name and click ready when done to start your story!</label>
        <input name="name" value="new name">
        <br>
        <br>
        <input type="submit" value="add your name to the database" />
      </form>
      <br>

      <form method="GET" action="/kristinaPage">
        <input type="submit" value="Ready!" />
      </form>
      <br>

<h3> Already a user? Check your status</h3>
<% for (var i=0; i< nameData.length; i++ ) { %>
  <form method="POST" action="/deleteName/<%= nameData[i]._id %>" style="display: inline-block">
    <%= nameData[i].name %> (<%= nameData[i].size %>)
        <input type="submit" value="delete">
  </form>
  <br />
  <% } %>
  
  
  <!-- <h3> Secrets Status</h3> 
<% for (var i=0; i< nameData.length; i++ ) { %>
 <form method="POST" action="/updateSecret/<%= nameData[i]._id %>" style="display: inline-block">  
   <%= nameData[i].name %> (<%= nameData[i].size %>) 
   <input type="submit" value="status"> 
 </form>
 <br/>
<% } %> -->



    
     


      <!-- <form method="post" action="/kristina.ejs">
        <label>Enter Your Name</label><br>
        <input type="text" name="userName" placeholder="character name" required>
        <input type="submit" value="Add Name">
        </form> -->

      <!-- <button onclick="window.location.href ='/kristina.ejs';">Ready</button> -->

    </div>
    <!-- <a href="kristina.ejs">Kristina</a> -->
  </div>
</div>
</div>






<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js'></script><script  src="./scripts/script.js"></script>

</body></html>
