<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
  <!-- <link rel="stylesheet" href="/styles/styles.css"> -->
</head>

<body class="container">

  
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <img src="/photos/campus.jpg" id="campus">
    </div>
    <div class="col-md-8 offset-md-2">
      <h1>Hello! Welcome to choose your own adventure game: UNA</h1>

    </div>
  </div> 
    

<!-- <div class="row">
  <div class="col-sm-4">
<div class="card" style="width: 18rem;">
  <p>Enter your name and click ready when done to start your story!</p>
    <div class="card-body">
      <div class="input-group mb-3 input-group-sm">
        <input type="text" class="form-control">
      </div> -->

      <div class="row">

      
      <form method="POST" action="/addName">
        <label for="name">Enter your name and click ready when done to start your story!</label>
        <input name="name" placeholder="new name">
        <br>
        <br>
        <input type="submit" value="add your name" />
      </form>
      <br>

      <form method="GET" action="/kristinaPage">
        <input type="submit" value="Ready!" />
      </form>
      <br>
      </div>
    </div>


<div class="row">


  
      
    
  
  <% for (var i=0; i< nameData.length; i++ ) { %>
  <div class="col-md-6">
    <div class="card mt-2">
      <div class="card-body">
        <h4 class="card-title">Player: <%= nameData[i].name %></h4>
        <p class="card-text">Player ID: <%= nameData[i]._id %></p>
        <p class="card-text">Secret: <%= nameData[i].secret %></p>        
        <p class="card-text">Secrets: <%= nameData[i].secrets %></p>        

        <form method="POST" action="/updateSecret/" style="display: inline-block">
          <input type="hidden" name="id" value="<%= nameData[i]._id %>">
          <input name="newSecret" value="new temp secret">
          <button class="btn btn-primary">upadfaa secete </button>
        </form>
        
          
          
        

        <form method="POST" action="/deleteName/<%= nameData[i]._id %>" style="display: inline-block">
          <button class="btn btn-primary">DLELTE</button>
        </form>

        

     </div>
    </div>
  </div>
  <% } %>


</div>




<div class="container">

  <div class="row">
      <h3> Already a user? Check your status</h3>
      <% for (var i=0; i< nameData.length; i++ ) { %>
        <form method="POST" action="/updateSecret/<%= nameData[i]._id %>" style="display: inline-block">
          <%= nameData[i].name %> (<%= nameData[i].size %>)
              <input type="submit" value="see status">
        </form>
        <br />
        <% } %>
</div>
<br>

<div class="row">

<h3> Already played and want to start over? Change your status!</h3>
<% for (var i=0; i< nameData.length; i++ ) { %>
  <form method="POST" action="/deleteName/<%= nameData[i]._id %>" style="display: inline-block">
    <%= nameData[i].name %> (<%= nameData[i].size %>)
        <input type="submit" value="change status">
  </form>
  <br />
  <% } %>
</div>

</div>
<!-- closing container -->
  
  




    
     


      <!-- <form method="post" action="/kristina.ejs">
        <label>Enter Your Name</label><br>
        <input type="text" name="userName" placeholder="character name" required>
        <input type="submit" value="Add Name">
        </form> -->

      <!-- <button onclick="window.location.href ='/kristina.ejs';">Ready</button> -->

    </div>
    <!-- <a href="kristina.ejs">Kristina</a> -->
  </div>
</div>
</div>

<br>

<div class="footer">
  <p>Devs: Kristina Williams, Meghan Skelton, Rachel Thompson</p>
  <a href="https://github.com/mskel1/unaAdventures/wiki/meet-the-devs" target="_blank">Meet the devs: Wiki</a>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js'></script>
<script  src="/scripts/script.js"></script>

</body>

</html>
